pytest==8.0.1
pytest-cov==4.1.0
flake8==7.0.0
piccolo[postgres,sqlite]>=1.16.0
playwright==1.41.2
pytest-playwright==0.4.4
httpx>=0.20.0
# This is needed because newer versions of FastAPI use a Starlette version with
# a `TestClient` which breaks rate limiting.
# The changes to `TestClient` will likely be reverted in a future release, in
# which case we can remove this version pin.
fastapi==0.106.0
